##              Real-World Energy Harvesting

###        PROBLEM STATEMENT

Estimate the total energy that can be harvested from human footsteps in crowded areas (e.g., metro stations, malls, universities) and assess its contribution toward sustainable smart-city energy solutions.

### Importing Required Libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import os
import datetime as dt

### Dataset Overview

#### Dataset Details -1
* **Dataset Name** :**Footstep Power Generation Tile Data**
* **Source** : https://www.kaggle.com/datasets/ishanshrivastava28/footstep-power-generation-tile-data
* **File Format** : .csv

#### Dataset Description
The Footstep Power Generation Tile data contains 3 numerical features voltage(V),current(mA),and weight(kgs).1 categorical feature that is the step location of the person on the square tile-center,edge,corner.It also contains the null values,Null values are occurred due to loose connections of sensors.

#### Feature Description
* **Time_sec**:The Timestamp since the start of the measurement
* **Pedal_RPM**:Revolution per minute of the Pedal
* **Torque_Nm**:Mechanical torque applied to the Pedal
* **Voltage_V**:Voltage generated by the pedal power generator
* **Current_A**:Electric current generated
* **Power_W**:Electrical power output of the system

#### Dataset Details -2
* **Dataset Name** :**Fitness Track Daily Activity Dataset**
* **Source** :aggle.com/datasets/yaminh/fitness-track-daily-activity-dataset
* **File Format** : .csv

#### Dataset Description
The Fitness Track Daily Activity Dataset contains the data of the steps,calories,total distance and includes the tracker distance.

#### Feature Description
* **UserID**:unique identifiers for each user.
* **Date**: date on which the data was recorded or collected.
* **Steps**: records the number of steps the user took on the given date. 
* **Total_Distance**:total distance covered by the user on the given date.
* **Tracker_Distance**: represents the distance recorded by the fitness tracker device itself.
* **Calories_Burned**: represents an estimate of the number of calories the user burned throughout the day based on their activity levels.

#### Loading the Dataset

In [6]:
powergenerated=pd.read_csv('pedal_power_dataset.csv')
fitness=pd.read_csv('Activity.csv')

#### Explore and Understand the Data

In [5]:
powergenerated.head(10)

   Time_sec  Pedal_RPM  Torque_Nm  Voltage_V  Current_A  Power_W
0         1         78       2.20       9.90       1.66    16.43
1         2         91       2.39      12.70       2.34    29.72
2         3         68       2.76       8.26       0.67     5.53
3         4         54       2.25       7.66       2.25    17.24
4         5         82       1.59       6.73       1.60    10.77
5         6         47       1.21       9.85       0.83     8.18
6         7         60       1.91      12.20       1.32    16.10
7         8         78       1.44       6.52       2.06    13.43
8         9         97       1.83      14.24       1.46    20.79
9        10         58       2.77       9.98       2.47    24.65

In [7]:
fitness.head(10)

,UserID,Date,Total_Distance,Tracker_Distance,Logged_Activities_Distance,Very_Active_Distance,Moderately_Active_Distance,Light_Active_Distance,Sedentary_Active_Distance,Very_Active_Minutes,Fairly_Active_Minutes,Lightly_Active_Minutes,Sedentary_Minutes,Steps,Calories_Burned
0,6117666160,4/20/2016,8.02,8.02,0.0,2.03,0.48,5.52,0.00,26,10,349,587,10449,2536
1,1644430081,4/13/2016,5.82,5.82,0.0,2.28,0.90,2.64,0.00,30,16,135,1259,8001,2902
2,1927972279,4/25/2016,0.11,0.11,0.0,0.00,0.00,0.11,0.00,0,0,12,1303,152,2100
3,6117666160,4/26/2016,7.21,7.21,0.0,0.00,0.34,6.87,0.00,0,7,352,1077,9543,2450
4,4388161847,05-09-2016,7.86,7.86,0.0,0.34,0.73,6.79,0.00,6,19,258,1020,10218,3013
5,6775888955,4/28/2016,0.50,0.50,0.0,0.06,0.20,0.24,0.00,2,13,15,1410,703,1993
6,4319703577,4/13/2016,5.50,5.50,0.0,0.53,0.59,1.31,0.00,8,15,96,1234,8204,2135
7,2873212765,05-03-2016,4.98,4.98,0.0,0.06,0.25,4.66,0.01,1,6,363,1070,7412,1906
8,4445114986,4/13/2016,1.99,1.99,0.0,0.00,0.00,1.99,0.00,0,0,194,840,2961,2095
9,6290855005,05-08-2016,5.83,5.83,0.0,0.00,0.00,5.82,0.00,0,0,251,1189,7706,2712